<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>MyCust</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>addCustServlet</servlet-name>
    <servlet-class>com.geng.web.addCustServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addCustServlet</servlet-name>
    <url-pattern>/servlet/addCustServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListCustServlet</servlet-name>
    <servlet-class>com.geng.web.ListCustServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListCustServlet</servlet-name>
    <url-pattern>/servlet/ListCustServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CustInfoServlet</servlet-name>
    <servlet-class>com.geng.web.CustInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustInfoServlet</servlet-name>
    <url-pattern>/servlet/CustInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateCustServlet</servlet-name>
    <servlet-class>com.geng.web.UpdateCustServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCustServlet</servlet-name>
    <url-pattern>/servlet/UpdateCustServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DelCustServlet</servlet-name>
    <servlet-class>com.geng.web.DelCustServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelCustServlet</servlet-name>
    <url-pattern>/servlet/DelCustServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BatchDelServlet</servlet-name>
    <servlet-class>com.geng.web.BatchDelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BatchDelServlet</servlet-name>
    <url-pattern>/servlet/BatchDelServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DetailSearch</servlet-name>
    <servlet-class>com.geng.web.DetailSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailSearch</servlet-name>
    <url-pattern>/servlet/DetailSearch</url-pattern>
  </servlet-mapping>
</web-app>